.menu {
    background-color: #cea774;
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin: 0 15px;
    color: #ffffff;
    font-size: 30px;
}

html {
    background-image: url(aaaaaaa.jpg);
background-repeat: no-repeat;
}